/* BASIC STYLES (NAVBAR/FOOTER) */

:root {
    --dark: #121315;
    --cherry: #A20C39;
    --blue: #0F43FB;
    --green: #0CA26C;
    --orange: #FB910F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #3a3a3a;
}

::-webkit-scrollbar-thumb {
    background: #888;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

body {
    background-color: #121315; 
    font-family: 'Unbounded', cursive;;
}

.topNavigation ul {
    width: 90vw;
    height: 100px;
    border-radius: 30px;
    padding: 30px 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 5vw;
    background-color: #6363631e;
    backdrop-filter: blur(20px);
    z-index: 9999;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    transition-delay: 0.5s;
}

.topNavigation.fixed ul {
    top: -90px;
}

.topNavigation a {
    text-decoration: none;
    font-size: medium;
    font-weight: light;
    color: white;
}

.topNavigation li {
    list-style: none;
}

.topNavigation .navActive {
    font-weight: bold;
}

footer {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    width: 100vw;
    margin-top: 100px;
    background: #121315;
}

.bottomNavigation {
    width: 300px;
}

.bottomNavigation a {
    text-decoration: none;
    font-size: medium;
    font-weight: lighter;
    color: white;
}

.bottomNavigation li {
    list-style: none;
    padding-bottom: 10px;
}

.bottomNavigation .navActive {
    font-weight: bold;
}

.credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    align-items: center;
    padding: 0 50px;
}

.acictsLogo {
    width: 150px;
}

.creditsText {
    color: white;
    margin-top: 10px;
}

.creditsText a {
    color: white;
}

.team {
    width: max-content;
}

.team a {
    text-decoration: none;
    font-size: medium;
    color: white;
}

.team li {
    list-style: none;
    padding-bottom: 10px;
    text-align: end;
    font-weight: lighter;
}


/* SCOLL BUTTONS */
@keyframes scrollAnimation {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(5px);
    }
}

.scrollButton {
    cursor: pointer;
    animation: 1s infinite alternate ease-in scrollAnimation;
}

/* text sectors */
.sector {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.sector:nth-child(even) {
    flex-direction: row-reverse;
}

.textSection {
    position: relative;
    width: 50vw;
    height: 100%;
    background: #121315 url("../assets/images/wavePattern.png") no-repeat left top;
    background-size: 200%;
    background-position: 0% 0%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s ;
}

.textSection:hover {
    filter: brightness(1.2);
    cursor: pointer;
    background-position: 100% 0%;
}

.textSection:hover .arrow {
    transform: translateX(20px);
}

.textSection:active{
    filter: brightness(90%);
}

.textSection.education {
    background-color: #0CA26C;
}

.textSection.industry {
    background-color: #0F43FB;
}

.textSection.healthcare {
    background-color: #A20C39;
}

.textSection.communication {
    background-color: #FB910F;
}

.arrow {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 84px;
    transition: .2s;
}

.sectorImg {
    width: 50vw;
    object-fit: cover;
    /* align-self: flex-end; */
}

/* ___________________________________POINTS SECTION___________________________________ */
.communicationPoints {
    /* background-image: url('../assets/images/communicationPointsBG.png'); */
    background: #121315 url('../assets/images/doodlePattern.svg') repeat;
    background-size: 512px;
    background-blend-mode: multiply;
    /* background-size: cover; */
    padding: 6vw 10vw;
}

.communicationPoints:nth-child(even) {
    background-color: #121315;
    background-blend-mode: overlay;
}

.communicationPoints .pointTitle {
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 2.2em;
}

.communicationPoints .pointPara {
    font-size: 1.2em;
    color: white;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: justify;
}