/* BASIC STYLES (NAVBAR/FOOTER) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #121315; 
    font-family: 'Unbounded', cursive;;
}

.topNavigation ul {
    width: 90vw;
    height: 100px;
    border-radius: 30px;
    padding: 30px 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 5vw;
    background-color: #6363631e;
    backdrop-filter: blur(20px);
    z-index: 9999;
}

.topNavigation a {
    text-decoration: none;
    font-size: medium;
    font-weight: light;
    color: white;
}

.topNavigation li {
    list-style: none;
}

footer {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    width: 100vw;
    margin-top: 100px;
    background: #121315;
}

.bottomNavigation {
    width: 300px;
}

.bottomNavigation a {
    text-decoration: none;
    font-size: medium;
    font-weight: lighter;
    color: white;
}

.bottomNavigation li {
    list-style: none;
    padding-bottom: 10px;
}

.credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    /* display: block; */
    align-items: center;
    padding: 0 50px;
}

.acictsLogo {
    width: 150px;
}

.creditsText {
    color: white;
    margin-top: 10px;
}

.creditsText a {
    color: white;
}

.team {
    width: max-content;
}

.team a {
    text-decoration: none;
    font-size: medium;
    color: white;
}

.team li {
    list-style: none;
    padding-bottom: 10px;
    text-align: end;
    font-weight: lighter;
}


/* _____________________________HERO SECTION_________________________ */
.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute;
    bottom: 0; */
}



.homeBg {
    position: absolute;
    bottom: 0;
    width: 60vw;
}

.titleBelowScreen {
    font-weight: 700;
    font-size: 8vw;
    text-align: center;
    margin-top: 300px;
    color: #f0f8ff;
    position: absolute;
    /* text-rendering: optimizeSpeed; */
/* text-rendering: optimizeLegibility; */
/* text-rendering: geometricPrecision; */

}

.titleAboveScreen {
    font-weight: 700;
    font-size: 8vw;
    text-align: center;
    margin-top: 300px;
    color: #f0f8ff00;
    -webkit-text-stroke: #f0f8ff;
    -webkit-text-stroke-width: 3px;
    z-index: 999;
text-rendering: geometricPrecision;

}

.subTitle {
    font-weight: bolder;
    text-align: center;
    /* -webkit-text-stroke: #FFFFFF30;
    -webkit-text-stroke-width: 3px; */
    z-index: 999;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.932);
    text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
     margin-top: 100px;
}

.cta {
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
}

.scrollButton {
    width: 40px;
}

.scrollText {
    color: white;
    margin-top: 10px;
}


/* ___________________________________DESCRIPTION SECTION___________________________________ */

.siteDescription {
    background-image: url('../assets/images/communicationDescriptionBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 40vw;
    display: flex;
    padding: 100px 200px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.siteDescriptionText {
    color: #f0f8ff;
    margin-bottom: 30px;
    font-size: 1.2em;

}

@media only screen and (max-width: 1400px) {
    .homeBg {
        width: 90vw;
    }

    .subTitle {
        font-size: 4em;
        margin-top: 30px;
    }
}


/* ___________________________________POINTS SECTION___________________________________ */
.communicationPoints {
    background-image: url('../assets/images/communicationPointsBG.png');
    background-size: cover;
    padding: 6vw 10vw;
}

.pointTitle {
    color: white;
    margin-bottom: 30px;
    margin-top: 100px;
}

.pointPara {
    font-size: 1.1em;
    color: white;
    font-weight: light;
    margin-bottom: 50px;
}


/* ___________________________________SECTORS SECTION___________________________________ */
.sector {
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
}

.sector:nth-child(odd) {
    flex-direction: row-reverse;
}

.textSection {
    position: relative;
    width: 50vw;
    height: 40vh;
    background-size: cover;
}



.sectorName {
    position: absolute;
    padding: 50px;
    color: #e0e0e0;
    font-size: 1.8em;
}

.arrow {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 70px;
}

.sectorImg {
    width: 50vw;
    object-fit: cover;
    /* align-self: flex-end; */
}


/* ___________________________________HOWEVER SECTION___________________________________ */
.howeverSection {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/howeverBG.png');
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.howeverSection h1 {
    color: #F6AAA9;
    font-size: 8em;
    font-weight: bold;
}

.howeverSection p {
    color: #F6AAA9;
    font-size: 2em;
    margin-top: 30px;
    font-weight: light;
}


/* ___________________________________NEGATIVES SECTION___________________________________ */
.communicationNegativePoints {
    background-image: url('../assets/images/communicationDescriptionBG.png');
    background-size: cover;
    padding: 6vw 10vw;
}

.pointTitle {
    color: white;
    margin-bottom: 30px;
    margin-top: 100px;
}

.pointPara {
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.815);
    font-weight: light;
    margin-bottom: 50px;
}